 {% extends "XSolveSecurityBundle::navigate.html.twig" %}



 {% block content %}
     <h1>Panel administratora</h1>
     <a href="/admin/users"> <button type="button" class="btn btn-primary btn-lg" >Użytkownicy</button> </a>
 {% endblock %}